<textarea name="message" rows="4" cols="50" placeholder="Your message here..."></textarea>
<input name="number" class="form-search" type="text" size="50" placeholder="Cell Phone #"/>

<label for="provider">Select The Provider:</label>
<select id="provider" name="provider">
	<option value="0">Default</option>
	{% for provider in providers %}
		<option value="{{ provider.pk }}">{{ provider.name }}</option>
	{% endfor %}
</select>

<label for="count">Select The Count:</label>
<select id="count" name="count">
	{% for count in counts %}
		<option value="{{ count }}">{{ count }}</option>
	{% endfor %}
</select>