{% load staticfiles %}

<html>
	<head>
		<title>Text Bomber</title>
		{% include 'partials/_styles.html' %}
		{% include 'partials/_scripts.html' %}
		<script src="{% static 'js/index.js' %}"></script>
	</head>

	<body>
		<div class="container">
			<div class="jumbotron">
				<h2>A Text Generating Machine</h2>
			</div>

			<div class="jumbotron">

				<h3 class="text-center text-capitalize sending">Sending...</h3>
				<h3 class="text-center text-capitalize complete">Complete...</h3>

				<form class="form">
					{% include 'partials/_form.html' %}
					<button id='send' class="btn-large" type="button">Send</button>
				</form>

				<div id="progress"></div>
			</div>
		</div>
	</body>


</html>